@mixin media($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (min-width: 769px) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width: 1601px) {
      @content;
    }
  }
}

@mixin burger-ronded-item {
  background-color: $light-grey;
  height: 4px;
  width: 4px;
  border-radius: 5px;
  position: absolute;
  transition: 0.25s ease;
}
