@import "../../_settings/variables";
@import "../../_settings/mixins";

.projet {
  padding-top: 50px;
  width: 100%;
  transition: width 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(tablet) {
    &.open {
      width: 75%;
      transition: width 0.5s ease-in-out;
    }
  }

  &_header {
    padding: 40px 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_date {
      font-size: 1rem;
      text-transform: uppercase;
      padding-bottom: 15px;
    }

    &_name {
      font-size: 2.75rem;
      margin-bottom: 5px;
    }

    &_tagline {
      font-size: 1.75rem;
      line-height: 2rem;
      font-weight: lighter;
      text-align: center;
      font-style: italic;
    }
  }

  &_poster {
    height: 70vh;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    background-color: $anthracite-grey;

    @include media(tablet) {
      width: 80%;
    }
  }

  &_container {
    width: 100%;

    @include media(tablet) {
      width: 80%;
      display: flex;
    }
  }

  &_informations {
    padding: 10px 7.5vw;
    font-size: 1.3rem;

    @include media(tablet) {
      width: 25%;
      height: fit-content;
      padding: 10px 0;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid $light-grey;
    }

    &_link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 5px 5px;
      text-transform: uppercase;
      font-size: 1.2rem;

      & > * {
        padding: 5px 10px;
      }

      &_null {
        color: $light-grey;
        cursor: not-allowed;
      }
    }

    &_technologies {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;

      @include media(tablet) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &_description {
    width: 100%;

    @include media(tablet) {
      width: 75%;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
    }

    &_text {
      padding: 30px 7.5% 40px;
      line-height: 2.5rem;

      &_title {
        font-size: 1.6rem;
        margin-bottom: 10px;
      }

      &_paragraph {
        font-size: 1.5rem;
        font-weight: lighter;
      }

      @include media(tablet) {
        padding: 0px 12.5% 40px;
      }
    }
  }

  &_images {
    padding: 2.5% 7.5%;

    @include media(tablet) {
      padding: 20px 12.5%;
      transition: 0.4s ease-in-out;

      &:hover {
        transform: scale(1.05);
        transition: 0.4s ease-in-out;
      }
    }
  }
}
