@import "../../_settings/variables";
@import "../../_settings/mixins";

.projet {
  padding-top: 50px;
  width: 100%;
  transition: width 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(tablet) {
    &.open {
      width: 75%;
      transition: width 0.5s ease-in-out;
    }
  }

  &_header {
    padding: 40px 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_date {
      font-size: 1rem;
      text-transform: uppercase;
      padding-bottom: 15px;
    }

    &_name {
      font-size: 2.75rem;
      margin-bottom: 5px;
    }

    &_tagline {
      font-size: 1.75rem;
      line-height: 2rem;
      font-weight: lighter;
      text-align: center;
      font-style: italic;
    }
  }

  &_poster {
    height: 70vh;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    background-color: $anthracite-grey;

    @include media(tablet) {
      width: 80%;
    }
  }

  &_informations {
    padding: 10px 7.5vw;
    font-size: 1.3rem;
    line-height: 2rem;

    &_link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 5px 5px;
      text-transform: uppercase;
      font-size: 1.2rem;

      & > * {
        padding: 5px 10px;
      }

      &_null {
        color: $light-grey;
        cursor: not-allowed;
      }
    }

    &_technologies {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  &_description {
    padding: 30px 7.5vw 40px;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &_images {
    padding: 2.5vw 7.5vw;
  }
}
