@import "../../_settings/variables";
@import "../../_settings/mixins";

.nav {
  background-color: $off-white;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;

  &_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  &_burger {
    position: absolute;
    right: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    // background-color: rgb(219, 219, 219);
    outline: none;
    transition: height 0.5s ease;

    &.open {
      height: 15px;
    }

    &_line_left {
      background-color: $anthracite-grey;
      height: 4px;
      width: 4px;
      border-radius: 5px;
      position: absolute;
      transition: 0.5s ease;
      bottom: 50%;
      transform: translate(0%, 50%);

      &.open {
        bottom: 100%;
        transform: translate(0%, 100%);
      }
    }

    &_line_middle {
      background-color: $anthracite-grey;
      height: 4px;
      width: 4px;
      border-radius: 6px;
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      transition: 0.5s ease;
      z-index: 100;
    }

    &_line_right {
      background-color: $anthracite-grey;
      height: 4px;
      width: 4px;
      border-radius: 5px;
      position: absolute;
      bottom: 50%;
      right: 0;
      transform: translate(0%, 50%);
      transition: 0.5s ease;

      &.open {
        bottom: 0%;
        transform: translate(0%, 0%);
      }
    }

    &_line_bottom_left {
      background-color: $anthracite-grey;
      height: 4px;
      width: 4px;
      border-radius: 6px;
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      transition: 0.5s ease;

      &.open {
        bottom: 0%;
        left: 0%;
        transform: translate(0%, 0%);
      }
    }

    &_line_top_right {
      background-color: $anthracite-grey;
      height: 4px;
      width: 4px;
      border-radius: 6px;
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      transition: 0.5s ease;

      &.open {
        bottom: 100%;
        left: 100%;
        transform: translate(-100%, 100%);
      }
    }

    &:hover {
      .nav_burger_line_left {
        height: 0px;
        width: 0px;
        transition: 0.5s ease;
        &.open {
          height: 4px;
          width: 4px;
        }
      }
      .nav_burger_line_middle {
        height: 10px;
        width: 10px;
        transition: 0.5s ease;
        &.open {
          height: 8px;
          width: 8px;
        }
      }
      .nav_burger_line_right {
        height: 0px;
        width: 0px;
        transition: 0.5s ease;
        &.open {
          height: 4px;
          width: 4px;
        }
      }
    }
  }
}
