@import "../../_settings/variables";
@import "../../_settings/mixins";

.nav {
  background-color: $off-white;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  transition: color 0.5s ease-in-out,
    background-color 0.5s ease-in-out width 0.5s ease-in-out,
    width 0.5s ease-in-out;

  @include media(tablet) {
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
      width 0.5s ease-in-out;
    right: 0;
    width: 100%;
  }

  &.open {
    background-color: $anthracite-grey;
    color: $off-white;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
      width 0.5s ease-in-out;

    @include media(tablet) {
      transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
        width 0.5s ease-in-out;
      right: 0;
      width: 25%;
    }
  }

  &_goBack {
    width: fit-content;
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 4%;
    color: $grey;
    outline: none;
    cursor: pointer;

    &.open {
      color: $off-white;
      transition: color 0.5s ease-in-out;
    }

    @include media(tablet) {
      background-color: $off-white;
      position: fixed;
      top: 10px;
      left: 0;
      margin-left: 2.5%;
      border-radius: 15px;
      padding-right: 15px;

      &.open {
        color: $grey;
      }

      &:hover {
        color: $anthracite-grey;
        // transition: color 0.25s ease-in-out;

        & span {
          padding-left: 5px;
          transition: padding-left 0.25s linear, color 0.25s linear;
        }
      }
    }

    & span {
      display: none;

      @include media(tablet) {
        padding-left: 10px;
        display: block;
        transition: padding-left 0.25s linear;
      }
    }

    & svg {
      font-size: 1.2rem;
      height: 15px;
      transition: color 0.25s linear;
    }
  }

  &_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
