@import "../../_settings/variables";
@import "../../_settings/mixins";

@font-face {
  font-family: "Orkney";
  src: local("Orkney"),
    url(../../../fonts/Orkney_Regular.ttf) format("truetype");
}

.home {
  padding-top: 50px;
  width: 100%;

  &_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20%;

    &_title {
      font-size: 3rem;
      font-family: "Orkney";
    }

    &_subtitle {
      margin-top: 20px;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }

  &_allProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 40px;

    &_link {
      font-size: 1.2rem;
      text-transform: uppercase;
      padding: 5px 0;
      border-bottom: 1px solid black;
    }
  }
}

// custom style for react-slick
.slick {
  &-slide {
    margin-bottom: 25px;
    & > div {
      padding: 0 5px;
    }
  }
  &-dots {
    bottom: 0;
  }
}
