@import "../../_settings/variables";
@import "../../_settings/mixins";

.menu {
  transform: translateY(100%);
  position: fixed;
  height: calc(100vh - 50px);
  width: 100%;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 0 7.5vw;
  background-color: $anthracite-grey;
  color: $off-white;
  transition: transform 0.5s ease-in-out;

  @include media(tablet) {
    width: 25%;
    left: 75%;
    padding: 0;
  }

  &.open {
    transform: translateY(0%);
  }

  &_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    border-bottom: 1px solid $light-grey;
    padding: 15% 0;

    @include media(tablet) {
      height: 70%;
      padding: 20% 0;
    }

    & a {
      font-size: 2rem;
      text-transform: uppercase;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media(tablet) {
        font-size: 1.75rem;
        opacity: 0.75;
        transition: 0.5s ease;

        &:hover {
          opacity: 1;
          transform: translateX(-10px);
        }
      }
    }
  }

  &_footer {
    color: $light-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40%;
    padding: 0 0 25px;
    font-size: 1.4rem;

    @include media(tablet) {
      height: 30%;
    }

    &_informations {
      height: 80%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      & > * {
        margin-bottom: 20px;
      }

      &_socials {
        text-transform: uppercase;
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        font-size: 1.2rem;
      }
    }

    &_copy {
      font-size: 1rem;
    }
  }
}
