@import "../../_settings/variables";
@import "../../_settings/mixins";

// custom style for react-slick
.slick {
  &-slide {
    padding: 30px 0;
    background-color: $off-white;

    @include media(tablet) {
      padding: 50px 0 30px;
    }

    & > div {
      padding: 0 6px;

      @include media(tablet) {
        padding: 0 15px;
      }
    }
  }
  &-dots {
    z-index: 100;
    bottom: 0;
  }
}
